.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background: rgb(197, 40, 61); /* Cor de fundo */
}

.user{
    margin-right: 30px;
}

.image{
    height: 40px; 
    margin-left: 40px;
 }

.spacer {
    flex-grow: 2;
}

  @media (max-width: 400px) {
    .image{
        display: none;
    }
  }

