<mat-toolbar class="top-bar">
    <button class="menu" (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  
    <!-- logo do site -->
    <img src="assets/img/logoPoint.png" alt="logo" class="image2">
  
    <!-- Ícones alinhados à direita -->
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Tela Inicial">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button aria-label="Configurações">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button aria-label="Notificações">
      <mat-icon>notifications</mat-icon>
    </button>
  </mat-toolbar>
