
.content-container {
  display: flex; /* Configura Flexbox no container principal */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  align-items: center; /* Alinha verticalmente ao centro */
  padding: 20px; /* Espaçamento interno */
}

.text-and-image {
  margin-top: 100px;
  display: flex; /* Coloca texto e imagem lado a lado */
  align-items: center; /* Alinha o texto e a imagem verticalmente */
  gap: 50px; /* Espaçamento entre o texto e a imagem */
  z-index: 1;
}

.text {
  text-align: left; /* Alinha o texto à esquerda */
  max-width: 50%; /* Limita a largura máxima do texto */
}

.text h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px; /* Tamanho do título */
  line-height: 1.2; /* Espaçamento entre linhas */
  margin-bottom: 10px; /* Espaçamento inferior do título */
}

.text p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px; /* Tamanho do parágrafo */
  line-height: 1.5; /* Espaçamento entre linhas no parágrafo */
}

.image-container {
  max-width: 400%; /* Limita a largura da imagem */
  text-align: right; /* Garante alinhamento da imagem */
}

.image-container img {
  width: 100%; /* Faz a imagem ocupar todo o espaço do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/*wave -----------------------------------------------*/

.wave-container {
  position: relative;
  min-height:100vh; /* Define altura mínima para ocupar a tela inteira */
  display: flex;
  flex-direction: column;
  

  
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0; /* Coloca as ondas no fundo */
}

/*resposividade -----------------------------------------------*/

@media (max-width: 768px) {
  .text-and-image {
    flex-direction: column; /* Coloca texto e imagem em coluna */
    text-align: center; /* Centraliza ambos */
  }

  .text, .image-container {
    max-width: 100%; /* Ambos ocupam toda a largura */
  }

  .image-container img {
    max-width: 300px; /* Limita o tamanho da imagem em dispositivos pequenos */
  }
}