<div class="content-container">
  <div class="text-and-image">
    <div class="text">
      <h1>
        Cuidamos da parte <br> Burocrática para você
      </h1>
      <p>
        digitalPoint é uma solução digital que elimina <br>
        a necessidade de cartões de ponto físicos e <br>
        simplifica o processo de marcação de horas
      </p>
    </div>
    <div class="image-container">
      <img mat-card-image src="assets/img/imageHome.svg" alt="image home" class="imagehome">
    </div>
  </div>
</div>


  

   