<mat-card class="card">
      <mat-card-title >Digital Point</mat-card-title>
    <img mat-card-image src="assets/img/home-image.svg" alt="image home">
    <mat-card-content>
      <p >
        O Digital Point é uma solução digital que elimina a necessidade <br>
        de cartões de ponto físicos e simplifica o processo de marcação de horas.<br>
        Ele permite que os funcionários registrem seus horários de entrada,<br>
        saída para almoço e final do expediente.
      </p>
    </mat-card-content>
  </mat-card>
