.container {
   height: 100%;
   background: linear-gradient(135deg, #c5283d, #8b1e2c);
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .form {
   width: 100%;
   max-width: 350px;
   background-color:#ffffff;
   padding: 2.5rem;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   text-align: center;
 }
 
 .image {
  height: 80px;
 }
 
 img {
   height: 180px;
   margin-bottom: 1.5rem;
 }
 
 .full-width {
   width: 100%;
   margin-bottom: 0.5rem;
 }
 
 .login-btn {
   color:#343434;
   padding: 0.8rem;
   font-size: 1rem;
   border-radius: 5px;
 }
 
 :host ::ng-deep .mat-form-field-outline {
   color: #343434 !important; /* Cor da borda padrão */
 }
 
 :host ::ng-deep .mat-form-field-outline-thick {
   color: #343434!important; /* Cor quando focado */
 }

 :host ::ng-deep .mat-form-field-label {
   color:#343434 !important; /* Cor desejada */
 }
 