<div class="container">
    <form class="form mat-elevation-z8">
       <h1>digitalpoint</h1>
       <img src="assets/img/undraw_two-factor-authentication_8tds.svg" alt="Help Desk - Dicas de um DEV">
       <mat-form-field class="full-width  mat-elevation-z8" >
          <mat-label class="field"> Usuário</mat-label>
          <input class="imput" matInput placeholder="Ex. fulano@mail.com">
       </mat-form-field>
       <mat-form-field class="full-width mat-elevation-z8" >
          <mat-label class="field">Senha</mat-label>
          <input class="imput" type="password" matInput placeholder="Ex. 123">
       </mat-form-field>
       <button class="full-width mat-elevation-z4" mat-stroked-button color="primary">login</button>
    </form>
 </div>