.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
    background: rgb(197, 40, 61)
}

.image1 {
    width: 120px;
    height: 7rem;
    margin: .8rem .1rem .1rem 2.5rem;
}

.sidenav a {
    font-size: 20px;
    color:white;
    font-family: rustica;
}

.sidenav i {
    margin-right: .6rem;
}


