 .mat-elevation-z8 {
   margin: 20px auto;
   width: 80%;
   border-radius: 10px;
   overflow: hidden;
 }

 mat-header-cell,
 mat-cell {
   text-align: center;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
 }

 mat-form-field {
   width: 100%;
 }

 h1 {
   margin-top: 2rem;
   width: 100%;
   text-align: center;
   margin-bottom: 2rem;
 }

 .buttonregister {
   margin: 0.1rem auto;
   width: 100%;
   text-align: center;
 }

 ::ng-deep .custom-filter .mat-form-field-ripple {
   background-color: grey !important; /* Efeito ripple ao focar no campo */
 }

 ::ng-deep .custom-filter .mat-form-field-label {
  color: grey !important;  /* Cor do label */
}

 .filter {
   margin: 0.1rem auto 1rem auto;
   width: 80%;
   text-align: center;
   color: grey;
 }


 button:hover {
   background-color: #b8bfb8;
 }

 /* Ajustando o alinhamento da tabela */
 table {
   width: 100%;
   border-collapse: collapse;
 }

 mat-header-row,
 mat-row {
   margin-top: 20px;
   display: flex;
   justify-content: center;
 }

 /* Alternando cores de linhas */
 mat-row:nth-child(odd) {
   background-color: #fafafa;
 }

 mat-row:nth-child(even) {
   background-color: #f1f1f1;
 }