<!-- point.component.html -->
<h1>Ponto mês de janeiro</h1>
<div class = "buttonregister">
<button routerLink="create" class="mat-elevation-z8" mat-stroked-button color= "grey">Bater ponto</button>
</div>

<div class="filter">
  <mat-form-field appearance="standard" class="custom-filter">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite para filtrar" #input>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-table">

    <!-- Data Atual -->
    <ng-container matColumnDef="workDay">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{ element.workDay }} </td>
    </ng-container>

    <!-- Entrada -->
    <ng-container matColumnDef="entry">
      <th mat-header-cell *matHeaderCellDef> Entrada </th>
      <td mat-cell *matCellDef="let element"> {{ element.entry || '--' }} </td>
    </ng-container>

    <!-- Saída Almoço -->
    <ng-container matColumnDef="exitLaunch">
      <th mat-header-cell *matHeaderCellDef> Saída Almoço </th>
      <td mat-cell *matCellDef="let element"> {{ element.exitLaunch || '--' }} </td>
    </ng-container>

    <!-- Entrada Almoço -->
    <ng-container matColumnDef="entryLaunch">
      <th mat-header-cell *matHeaderCellDef> Entrada Almoço </th>
      <td mat-cell *matCellDef="let element"> {{ element.entryLaunch || '--' }} </td>
    </ng-container>

    <!-- Saída -->
    <ng-container matColumnDef="exit">
      <th mat-header-cell *matHeaderCellDef> Saída </th>
      <td mat-cell *matCellDef="let element"> {{ element.exit || '--' }} </td>
    </ng-container>

    <!-- Minutos Extras -->
    <ng-container matColumnDef="minExtra">
      <th mat-header-cell *matHeaderCellDef> Minutos Extras </th>
      <td mat-cell *matCellDef="let element"> {{ element.minExtra }} </td>
    </ng-container>

    <!-- Cabeçalho e Linhas da Tabela -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  
</div>